<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="roomba">

  <!-- ************************************* LINKS/JOINTS ****************************************** -->
  <!-- BASE LINK -->
  <link name="base_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    	<cylinder radius="0.3485/2" length="0.09225"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.02" rpy="3.14159 0 1.57"/>
      <geometry>
        <mesh filename="package://roomba_description/meshes/roomba.dae" />
      </geometry>
    </visual>
    <inertial>
        <origin xyz="0 0 0.5" rpy="0 0 0"/>
        <mass value="1"/>
        <inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
    </inertial>
  </link>

  <!-- <link
    name="chassis">
    <inertial>
      <origin
        xyz="2.1 0 0.75"
        rpy="0 0 0" />
      <mass
        value="7094" />
      <inertia
        ixx="5731.95"
        ixy="0"
        ixz="0"
        iyy="10293"
        iyz="0"
        izz="10761" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wc3_sim/meshes/wc3_eng_frame.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wc3_sim/meshes/wc3_eng_frame.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="chassis_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="1.753 0 0" rpy="0 0 3.1415"/>
    <parent link="base_link"/>
    <child link="chassis"/>
  </joint>  -->
</robot>